@import "./vars.scss";

.benefits {
  width: 88.5%;
  margin: 6.5% auto;
  background-color: $white-color;
  &__part {
    margin: 0 auto;
    width: 86.5%;
    display: flex;
    color: $grey-dark-color;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    &__header {
      width: 100%;
      text-align: center;
      font-size: 56px;
      letter-spacing: 1px;
      margin: 7.8% 0 4.4% 0.15%;
    }

    &__accent {
      width: 100%;
      text-align: center;
      color: $burgundy-color;
      margin: 0.1% 0 4.5%;
      font-size: 40px;
      letter-spacing: 0.5px;
    }
  }
}

.second {
  margin: 5.5% auto;
  width: 100%;
  justify-content: center;

  .benefits__part__header {
    font-size: 40px;
  }

  &::before {
    content: "";
    border: 1px solid $grey-color;
    margin: auto;
    width: 95%;
  }

  .benefits__part__header {
    width: 100%;
    text-align: center;
    letter-spacing: 0.6px;
    margin: 6.4% 0 0 0.15%;
  }

  .benefit {
    width: 17.5%;
  }
}
.benefit {
  display: flex;
  flex-direction: column;
  width: 19%;
  align-items: center;
  &__icon {
    width: 7rem;
    height: 7rem;
    display: block;
    border-radius: 50%;
    background-color: $bg-icon-color;
    background-repeat: no-repeat;
    background-position: 53% 52%;
  }
  &__text {
    margin: 6% 0;
    width: 70%;
    font-size: 18px;
    line-height: 19.8px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .benefits {
    width: 100%;
    padding: 0;
    &__part {
      width: 100%;
      justify-content: center;
      gap: 5%;
      &__header {
        margin: 17% 0 13.5%;
        font-size: 28px;
        line-height: 28px;
        letter-spacing: 0.5px;
      }
    }
    .benefit {
      width: 40%;
      margin: 0 0 4%;
      &__icon {
        width: 5rem;
        height: 5rem;
        background-size: 45%;
      }
      &__text {
        margin: 11% 0 3%;
        width: 100%;
        font-size: 16px;
        line-height: 19px;
        margin: 9% 0;
      }
      &:nth-of-type(5) {
        .benefit__icon {
          background-size: 59%;
        }
      }
    }
  }

  .second {
    margin: 0.5% auto;
    gap: 2%;
    justify-content: center;
    .benefit {
      width: 34%;
      margin: 0 0 5.5%;
    }
    .benefits__part__header {
      font-size: 22px;
      line-height: 26.4px;
      margin: 8% 0 1%;
      letter-spacing: 0.4px;
    }
    .benefits__part__accent {
      margin: 0 0 8%;
      font-size: 22px;
      line-height: 26.4px;
    }
  }
}
