@import "./vars.scss";

.direction {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5%;
  &__header {
    margin: 7.5% auto 4%;
    width: 100%;
    text-align: center;
    font-family: "Proxima_600";
    font-size: 56px;
  }
  .solution {
    position: relative;
    margin-bottom: 2%;
    width: 49%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $white-color;
    &__info {
      position: absolute;
      top: 70%;
      padding: 0.5% 3% 0.4%;
      width: 94%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: rgba(45, 54, 83, 0.6);
      &_header {
        font-size: 24px;
        line-height: 24px;
        font-family: "Proxima_400";
      }
      &_text {
        font-size: 17px;
        display: none;
      }
    }
    &:hover {
      .solution__info {
        top: 0%;
        height: 15.7rem;
      }
      .solution__info_text {
        display: block;
        line-height: 23.8px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .direction {
    padding: 0;
    gap: 2%;
    &__header {
      margin: 26% auto 3%;
      font-size: 28px;
      line-height: 28px;
    }
    .solution {
      margin: 2% auto 1.8%;
      width: 96%;
      height: 3.7rem;
      &__info {
        top: 1%;
        &_header {
          font-size: 20px;
          line-height: 19px;
          margin: 7% 0.5%;
          width: 82%;
          letter-spacing: 0.2px;
        }
        &_text {
          display: none;
        }
      }
      &:nth-of-type(5),
      &:last-of-type {
        .solution__info_header {
          margin: 3% 0.5% 4%;
        }
      }
    }
  }
}
