@import "./vars.scss";

.direction {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5%;
  &__header {
    margin: 7.5% auto 4%;
    width: 100%;
    text-align: center;
    font-family: "Proxima_600";
  }
  .solution {
    position: relative;
    margin-bottom: 2%;
    width: 49%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $white-color;
    &__info {
      position: absolute;
      top: 70%;
      padding: 0.5% 3% 0.4%;
      width: 94%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: rgba(45, 54, 83, 0.6);
      &_header {
        line-height: 24px;
        font-family: "Proxima_400";
      }
      &_text {
        display: none;
      }
    }
    &:hover {
      .solution__info {
        top: 0%;
        height: 15.7rem;
      }
      .solution__info_text {
        display: block;
        line-height: 23.8px;
      }
    }
  }
}
