@import "./vars.scss";

.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5% 5%;
  gap: 22%;
  &__header {
    margin: 2% 0 0 0.8%;
    font-size: 56px;
    letter-spacing: 1px;
  }
  &__slider_container {
    position: relative;
    width: 98.5%;
    height: 52em;
    margin: 2.5% auto;
    overflow: hidden;
    .galery__slider_view {
      position: absolute;
      display: flex;
      transform: translateX(-0%);
      transition: transform 0.5s;

      .slider__img {
        width: 100%;
        height: 52em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        aspect-ratio: 1110 / 834;
      }
    }
  }
  .slider__buttons {
    display: flex;
    margin: 2.5% 0 2.3%;
    width: 13%;
    justify-content: space-around;
  }
  .pagination_wrapper {
    width: 98.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .pagination {
      width: 19%;
      background-color: $grey-color;
      height: 5px;
      &:hover {
        background-color: $burgundy-color;
        cursor: pointer;
      }
    }
    .active {
      background-color: $burgundy-color;
    }
  }
}

.prev__button,
.next__button {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  &:hover {
    background-color: $shadow-color;
  }
}

.sign_next,
.sign_prev {
  position: absolute;
  width: 13px;
  display: inline-block;
  height: 2px;
  background: $burgundy-color;
}
.sign_prev {
  &:first-of-type {
    top: 59%;
    left: 36%;
    transform: rotate(45deg);
  }
  &:last-of-type {
    top: 43%;
    left: 36%;
    transform: rotate(-45deg);
  }
}
.sign_next {
  &:first-of-type {
    top: 59%;
    left: 36%;
    transform: rotate(-45deg);
  }
  &:last-of-type {
    top: 43%;
    left: 36%;
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 600px) {
  .galery {
    width: 100%;
    padding: 0;
    &__header {
      margin: 12% 2% 2.1%;
      letter-spacing: 0.5px;
      font-size: 28px;
      line-height: 28px;
    }
    &__slider {
      height: 13.2em;
      background-size: cover;
      width: 97%;
    }
    .slider__buttons {
      display: none;
    }
    &__slider_container {
      height: 13em;
      .galery__slider_view {
        .slider__img {
          width: 100%;
          height: 13em;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          aspect-ratio: 290 / 210;
        }
      }
    }
  }
}
