@import "./vars.scss";

.mission {
  position: relative;
  padding: 7.5% 6.9% 8.5%;
  width: 86.2%;
  background-color: $burgundy-color;
  color: $white-color;
  z-index: 0;
  .bg {
    position: absolute;
    z-index: -1;
    width: 24%;
    height: 23.6rem;
    top: 10%;
    &_left {
      background-image: url("./../assets/imgs/left_pattern.png");
      left: 0%;
    }
    &_right {
      background-image: url("./../assets/imgs/right_pattern.png");
      right: 0%;
    }
  }

  &__header {
    margin: 4% 0;
    text-align: center;
    font-family: "Proxima_600";
    font-size: 56px;
    line-height: 56px;
    z-index: 5;
  }
  &__text {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    z-index: 5;
  }
}

@media screen and (max-width: 600px) {
  .mission {
    width: 100%;
    padding: 7% 0 9%;
    .bg {
      width: 37%;
      height: 8.2rem;
      top: 0px;
      background-size: 112%;
      &_left {
        background-position: 202% 15%;
      }
      &_right {
        background-position: 3% 21%;
      }
    }

    &__header {
      margin: 3% auto 0%;
      font-size: 28px;
      line-height: 28px;
    }
    &__text {
      margin: 3% 1%;
      font-size: 16px;
      line-height: 20.8px;
    }
  }
}
