$bg-color: #f6f6f6;
$white-color: #fff;
$red-color: #d43152;
$burgundy-color: #b01736;
$grey-color: #d9d9d9;
$grey-dark-color: #444444;
$opacity-color: #2d3653;

@font-face {
  font-family: "Proxima_400";
  src: url("./../assets/fonts/proxima_regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima_600";
  src: url("./../assets/fonts/proxima_bold.otf");
  font-weight: 600;
}

html,
body {
  height: 100%;
  font-family: "Proxima_400", "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}

.container {
  width: clamp(290px, 95%, 1250px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: $bg-color;
}

.fs17 {
  font-size: 17px;
}

.fs18 {
  font-size: 18px;
}

.fs24 {
  font-size: 24px;
}

.fs32 {
  font-size: 32px;
}

.fs56 {
  font-size: 56px;
}

.fs80 {
  font-size: 80px;
}

.burgundy {
  color: $burgundy-color;
}

.grey-dark {
  color: $grey-dark-color;
}
